<header>
    <nav>
        <ul class="nav">
            {{#navLink '/'}}
                Home
            {{/navLink}}
            {{#navLink '/about'}}
                About
            {{/navLink}}
            {{#navLink '/shop'}}
                Shop
            {{/navLink}}
            {{#navLink '/items'}}
                Items
            {{/navLink}}
        </ul>
    </nav>
</header>
