{{!-- About Page --}}
{{> header title="About Us" }}

<div class="container">
    <h1>About Us</h1>
    <p>We are passionate about motorcycles and providing the best gear for our customers.</p>
</div>

{{> footer }}
