<div class="container mt-5">
    <h1>Categories</h1>
    <hr />
    {{#if categories.length}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{category}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No categories available.</p>
    {{/if}}
</div>
