{{> header title="Motorcycle Shop" }}

<div class="container">
    <h1>Welcome to Alexandru's Motorcycle Shop</h1>
    <p>Explore our wide range of motorcycle gear and accessories.</p>
    <a href="/shop" class="btn btn-primary">Start Shopping</a>
</div>
